@{
    ViewData["Title"] = "About Page";
}

<div class="text-center">
    <h1 class="display-3">About Me</h1>
    <p class="display-6">Hello my name is Ville</p>
</div>
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="https://loremflickr.com/320/240" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">WHO</h5>
        <p class="card-text">Hello, my name is Ville and i am studying at TUAS.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://loremflickr.com/320/240/dog" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">HOW</h5>
        <p class="card-text">I saw Nortals ad for summer job and looked it and thought that sounds great so then i applied.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://loremflickr.com/320/240/finland" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">WHEN</h5>
        <p class="card-text">I am 37 years old and i was born in Forssa.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://loremflickr.com/320/240/turku" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">WHERE</h5>
        <p class="card-text">Now i live in Loimaa but of course searching jobs in bigger cities because there the jobs are.</p>
      </div>
    </div>
  </div>
</div>